.fontStyle13 {
    font-size: 13px;
    color: #666666;
}

.fontStyle14 {
    font-size: 14px;
    color: #a1a1a1;
}

.fontStyle15 {
    font-size: 15px;
    color: #333;
}

.fontStyle15-2 {
    font-size: 15px;
    color: #f84a4a;
}

.fontStyle16 {
    font-size: 16px;
    color: #ffffff;
}

.fontStyle18 {
    font-size: 18px;
    color: #999999;
}

.fontSize24 {
    font-size: 24px;
}

.fontSize18 {
    font-size: 18px;
}

.bgStyle_red {
    font-size: 15px;
    color: #ffffff;
    background: #f84343;
}

.bg-white {
    background: #ffffff;
}

.wh35 {
    width: 100%;
    height: 35px;
    line-height: 35px;
}

.wh37 {
    width: 100%;
    height: 37px;
    line-height: 37px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.position_ab_b {
    position: absolute;
    left: 0;
    bottom: 0;
}

.position_ab_t {
    position: absolute;
    left: 0;
    top: 0;
}

.position_fix_b {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
}

.position_fix_t {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.position_fix_t_r {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

.position {
    position: relative;
}

.ml15 {
    margin-left: 15px;
}

.mr15 {
    margin-right: 15px;
}

.mt60 {
    margin-top: 60px;
}

.mt24 {
    margin-top: 24px;
}

.mt8 {
    margin-top: 8px;
}

.mt5 {
    margin-top: 5px;
}

.mb52 {
    margin-bottom: $footerHeight;
}

.mb50 {
    margin-bottom: 50px;
}

.pt50 {
    padding-top: 50px;
}

.pt65 {
    padding-top: 65px;
}

.pt42 {
    padding-top: 42px;
}
.mt10{
    margin-top: 10px;
}
.pb56 {
    padding-bottom: 56px;
}

.bg-goback {
    display: inline-block;
}

.nobor {
    border: none!important;
}

.fontblack {
    span {
        color: $fweight!important;
    }
}

.yellow {
    color: #f89c43;
}

.fweight {
    color: #4b4b4b!important;
}

.fnormal {
    color: #969696!important;
}

.flight {
    color: #bababa!important;
}
.theme{
    color:$theme!important;
}
