/* @import "base";
@import "bg"; */
::-webkit-input-placeholder {
    /* WebKit browsers */
    color: $flight;
    font-size: 12px;
}
.mt5 {
    margin-top: 5px;
}
.bd {
    border-bottom: 1px solid $bcolr;
}
.line-empty {
    height: 5px;
    background: #f5f5f5;
}
.address-info {
    width: auto;
    margin: 0 15px;
    color: $fnormal;
    &:last-of-type {
        border: none;
    }
    div {
        padding: {
            top: 10px;
            bottom: 10px;
        }
        &:first-child {
            font-size: 14px;
            float: left;
        }
        &:last-child {
            input,
            textarea {
                width: 100%;
                border: none;
                color: $flight;
                font-size: 14px;
            }
            textarea {}
            padding-left: 10px;
            width: auto;
            margin-left: 65px;
            font-size: 14px;
            ::-webkit-input-placeholder {
                font-size: 14px;
                color: $flight;
            }
        }
    }
}
.set-row {
    padding: 10px 37px;
    background: #fff6f7;
    color: $fnormal;
    font-size: 14px;
    position: relative;
    i {
        position: absolute;
        top: 0;
        left: 13px;
        bottom: 0;
        margin: auto;
        width: 16px;
    }
}
.map {
    padding: 10px;
    img {
        width: 100%;
        border-radius: 5px;
    }
}
.color-default {
    background: red;
}
#c-address {
    padding-top: 45px;
    background: #ffffff;
}
