.mb56 {
    margin-bottom: 56px;
}
.mr30 {
    margin-right: 30px;
}
.pl10 {
    padding-left: 10px;
}
.bd {
    border-bottom: 1px solid $bcolr;
}
.delete-failure {
    display: block;
    color: $theme;
    font-size: 14px;
    text-align: right;
    padding-right: 10px;
    background: transparent;
    i {
        display: inline-block;
        position: relative;
        top: 5px;
        @extend .bg-delete-in-ljt;
    }
}
.benifit-tap {
    display: inline-block;
    padding: 3px 5px;
    color: #fff;
    text-align: center;
    background: $theme;
    border-radius: 5px;
    margin-right: 5px;
    min-width: 46px;
}
#buyCar-panel {
    &:last-child {
        margin-bottom: 60px;
    }
    .box-shop {
        position: relative;
        z-index: 10;
        background: #ffffff;
        margin-bottom: 5px;
        .full-reduce {
            border-bottom: 1px dotted #dedede;
            // &:last-of-type {
            //     border-bottom: none !important;
            // }
            .benifit {
                padding: 12px 10px;
                color: $theme;
                position: relative;
                .benifit-icon {
                    display: inline-block;
                    @extend .bg-benifit-icon;
                    position: absolute;
                    top: 14px;
                    margin-right: 5px;
                }
                .benifit-title {
                    display: block;
                    width: auto;
                    margin: 0 50px 0 18px;
                    span {
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
            }
            .gifts {
                width: auto;
                margin: -10px 10px 10px 37px;
                color: $theme;
                padding: 4px 10px;
                border: 1px dotted $theme;
                border-radius: 5px;
                position: relative;
                z-index: 5;
            }
            .go-style {
                margin: 3px 0 0;
                text-decoration: underline;
                color: $theme;
                position: absolute;
                right: 10px;
                top: 8px;
            }
        }
        .un-discount {
            .product-box {
                // &:last-of-type {
                //     .p-panel {
                //         border-bottom: none !important;
                //     }
                // }
                .p-panel {
                    border-bottom: 1px dotted #dedede;
                }
            }
        }
        .em-text {
            padding: 8px 10px;
            color: $flight;
            height: 34px;
            border-top: 1px solid #dedede;
            margin-top: -1px;
            position: relative;
            z-index: 2;
            .em-left {
                .em-pro {
                    color: $theme;
                }
                .benifit-tap {
                    margin-left: 5px;
                }
            }
            .em-right {
                text-align: right;
                float: right;
                color: $theme;
            }
        }
    }
    @media screen and (max-width:380px) {
        .em-left {
            transform: scale(0.8);
            display: inline-block;
            margin: -28px;
        }
    }
    .p-panel {
        background: #ffffff;
        padding: 10px;
        position: relative;
        .cancel {
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 25px;
            height: 25px;
            background: url("../img/delete-tong.png") no-repeat;
            background-size: 100% 100%;
        }
        .p-left {
            width: 95px;
            position: relative;
            i {
                /*  position: absolute;
                top: 0;
                left: 20px;
                bottom: 0;
                margin: auto; */
                width: 16px;
                margin-right: 3px;
                margin-top: 25px;
            }
            img {
                width: 68px;
                height: 68px;
                float: left;
            }
            .sold {
                display: inline-block;
                text-align: center;
                background: rgba(0, 0, 0, 0.6);
                color: #ffffff;
                font-size: 20px;
                position: absolute;
                left: 50%;
            }
            .sold-out {
                width: 80px;
                height: 80px;
                padding-top: 10px;
                border-radius: 100%;
                -webkit-transform: translateX(-40%) scale(0.5);
                em {
                    &:first-of-type {
                        display: block;
                    }
                    &:last-of-type {
                        border-top: 1px solid #ffffff;
                    }
                }
            }
            .p-down {
                width: 138px;
                padding: 6px 0;
                bottom: -8px;
                -webkit-transform: translateX(-42%) scale(0.4);
            }
            .p-failure {
                width: 76px;
                padding: 3px 0;
                border-radius: 5px;
                -webkit-transform: translate(-69%, 48%) scale(0.6);
            }
        }
        .p-right {
            .p-name {
                min-height: 40px;
                @extend .clearfix;
                font-size: 14px;
                color: $fnormal;
                label {
                    position: relative;
                    right: -4px;
                }
                .p-for {
                    flex: 2.5;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    height: 37px;
                    line-height: 19px;
                }
                .p-price {
                    font-size: 13px;
                    color: $flight;
                    text-align: right;
                }
                .p-num {
                    display: block;
                    width: 100%;
                    font-size: 12px;
                    color: $flight;
                    position: absolute;
                    right: 0;
                    top: 21px;
                    text-align: right;
                }
            }
            .only-num {
                em {
                    float: right;
                    display: inline-block;
                    color: $theme;
                    border: 1px solid $theme;
                    border-radius: 3px;
                    padding: 0 2px;
                    transform: scale(0.85);
                    position: relative;
                    right: -4px;
                }
            }
            .p-select {
                padding-top: 5px;
                position: relative;
                .p-size {
                    -webkit-box-flex: 1;
                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    width: 100%;
                    min-height: 27px;
                    @extend .fl;
                    font-size: 12px;
                    color: $flight;
                }
                .p-set {
                    @extend .input-much;
                    position: absolute;
                    right: -2px;
                    bottom: 2px;
                }
                @media screen and (max-width:370px) {
                    .p-set {
                        zoom: 0.7;
                        bottom: 12px;
                    }
                }
            }
            .p-count {
                .reduce {
                    @extend .bg-gwc-less;
                }
                .add {
                    position: relative;
                    right: -10px;
                    @extend .bg-gwc-more;
                }
                input {
                    flex: 62;
                    height: 17px;
                    line-height: 17px;
                    border: none;
                    text-align: center;
                    font-size: 15px;
                    color: #262626;
                }
            }
            .unable {
                position: absolute;
                top: 50%;
                margin: auto;
                right: 12px;
                display: inline-block;
                color: #ffffff;
                background: #cccccc;
                padding: 3px 6px;
                font-size: 13px;
                border-radius: 5px;
                -webkit-transform: translateY(-50%);
            }
        }
        .car-i {
            margin: auto 10px auto auto;
            display: inline-block;
            @extend .bg-car;
        }
        .car-i.on {
            background-color: $theme;
            background-image: url("../img/d-gwc-white.png");
            right: -4px;
            position: relative;
            border-radius: 100%;
            background-position: 5px 6px;
            width: 27px;
            height: 27px;
            background-size: 18px;
        }
    }
    .promt-sold {
        .p-right {
            .p-name {
                .p-for {
                    color: #f5f5f5;
                }
            }
            .p-select {
                .p-size {
                    color: #f5f5f5;
                }
            }
        }
    }
    .failure {
        .p-panel {
            background: #fcfcfc;
        }
        .p-right {
            .p-name {
                .p-for {
                    color: #f0f0f0;
                }
                .p-price {
                    color: #f0f0f0;
                }
                .p-num {
                    color: #f0f0f0;
                }
            }
            .p-select {
                .p-size {
                    color: #f0f0f0;
                }
            }
        }
    }
}
.select-panel {
    position: fixed;
    left: 0;
    max-width: 640px;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    z-index: 999;
    background: #f2f2f2;
    .select-title {
        background: #fff;
        height: 46px;
        line-height: 46px;
        padding: 0 10px;
        color: #4a4a4a;
        font-size: 14px;
        .on-num {
            color: $theme;
        }
        .select-sure {
            float: right;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            margin-top: 8px;
            background: $theme;
            color: #fff;
            border-radius: 3px;
            font-size: 14px;
            padding: 0 18px;
        }
    }
    .all-prolist {
        max-height: 12rem;
        overflow-y: scroll;
        padding: 0 10px 2px;
        .select-i {
            position: absolute;
            top: 20px;
            right: 25px;
            width: 16px;
        }
    }
}
