#change-seller-search {
    padding: 10px;
    color: #797979;
    background: #E5E5E5;
    .serbox {
        padding: 10px 8px 8px;
        background: white;
        border-radius: 21px;
        width: 98%;
        margin: 0 auto;
        i {
            float: left;
            display: inline-block;
            @extend .bg-gwc-ser;
            opacity: 0.6;
            position: relative;
            top: -5px;
        }
        input {
            background: transparent;
            width: 85%;
            color: #797979;
            font-size: 16px;
            border: none;
            text-align: left;
            display: inline-block;
            box-sizing: border-box;
            padding-left: 15px;
            line-height: 17px;
            overflow: visible;
        }
    }
    input::-webkit-input-placeholder {
        text-align: left;
        color: #cfcfcf;
        line-height: 18px;
        overflow: visible;
    }
}
