#change-seller-cggood {
    overflow: hidden;
    position: relative;
    border-top: 1px solid $bcolr;
    border-bottom: 1px solid $bcolr;
    ul {
        float: left;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        padding-left: 10px;
        overflow: hidden;
        .box {
            overflow-y: hidden;
            overflow-x: auto;
            white-space: nowrap;
            padding-bottom: 0 !important;
        }
        li {
            display: inline-block;
            padding: 0 9px;
            height: 30px;
            line-height: 30px;
            border: $bor;
            border-radius: 3px;
            margin-right: 1rem;
            margin-top: 7px;
            margin-bottom: 7px;
            color: $fnormal;
        }
        .on {
            background: $red;
            color: white;
        }
    }
    .right {
        width: 8%;
        float: right;
        text-align: center;
        border-left: 1px solid $bcolr;
        line-height: 42px;
        em {
            position: relative;
            left: 10px;
            top: 4px;
            display: inline-block;
            @extend .bg-goright;
        }
    }
}
