/* @import "reset.scss";
@import "bg.scss";
@import "detail-tc.scss";
@import "evaluate-item.scss";
@import "bar-top.scss";
@import "detail_header.scss";
@import "detail_center.scss"; */

@function pxtorem($px) {
    @return $px / 40 * 1rem;
}

$margin:10px;
.up-more {
    font-size: 14px;
    line-height: 60px;
    margin-bottom: 2px;
    position: relative;
    em {
        display: inline-block;
        width: 15rem;
        margin:0 0.5rem;
        height: 1px;
        background: #d2d2d2;
        position: absolute;
        top: 30px;
        left: 0;
    }
    span {
        margin: 0 2%;
        padding: 0 10px;
        background: #F2F2F2;
        position: relative;
        z-index: 100;
    }
    color: #999;
    text-align: center;
}

.word-tip {
    background: url(../img/fenxian-mask.png) no-repeat;
    position: absolute;
    width: 11rem;
    height: 11.6rem;
    top: 5px;
    right: 23px;
    background-size: cover;
}
