#detail-header {
    position: relative;
    background: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
    .tit {
        color: $fweight;
        font-size: 16px;
        text-align: center;
        margin-top: 12px;
    }
    .active-title {
        background: $theme;
        opacity: 0.5;
        color: #ffffff;
        font-size: 12px;
        padding: 5px 10px;
        margin: 0 -10px;
    }
    .pri-item {
        margin-bottom: 6px;
        margin-top: 10px;
        text-align: center;
        .pinline {
            display: inline-block;
        }
        .pblock {
            display: block;
            margin-top: 10px;
        }
        .pri {
            display: inline-block;
            color: $theme;
            font-size: 22px;
            text-align: center;
            font-family: 'arial';
        }
        .del-line {
            color: $fnormal;
            margin: 0 3px;
        }
        .info {
            font-size: 10px;
            color: #929292;
            display: inline-block;
            padding: 3px 6px;
            margin: 0 5px 5px 0;
            border: 1px solid #d3d3d3;
            border-radius: 3px;
            position: relative;
            top: -3px;
        }
    }
    .had-buy-num {
        color: $fnormal;
        text-align: center;
        margin-bottom: 20px;
    }
    .authority {
        line-height: 14px;
        padding: 0 10px;
        li {
            float: left;
            text-align: center;
            font-size: 12px;
            margin-bottom: 5px;
            color: $fnormal;
        }
        span {
            display: block;
        }
        em {
            display: inline-block;
            margin-bottom: 5px;
        }
        .zp {
            em {
                @extend .bg-d-pm-1;
            }
        }
        .th {
            em {
                @extend .bg-d-pm-3;
            }
        }
        .gf {
            em {
                @extend .bg-d-pm-2;
            }
        }
        .fh {
            em {
                @extend .bg-d-pm-4;
            }
        }
    }
    .details {
        position: relative;
        padding: 0 10px;
    }
}

#d-banner {
    img {
        width: 16.0rem;
        height: 16.5rem;
    }
    overflow: hidden;
}

.gift-panel {
    width: auto;
    margin: 12px 10px 0 10px;
    padding-top:10px;
    border-top:1px solid #e7e7e7;
    .gift-item {
        padding: 7px 0;
        color: $theme;
        position: relative;
        .gift-icon {
            display: inline-block;
            @extend .bg-benifit-icon;
            position: absolute;
            top: 9px;
            margin-right: 5px;
        }
        .gift-title {
            display: block;
            width: auto;
            margin: 0 0 0 18px;
            span {
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
}
