#detail-center {
    background: white;
    .evaluate {
        .tit {
            font-size: 14px;
            color: $fweight;
            line-height: 42px;
            padding: 5px 10px 0;
            text-align: center;
        }
    }
    .search-btn {
        display: block;
        width: 128px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        border: 1px solid $theme;
        color: $theme;
        margin: 10px auto 0;
    }
    .eh18 {
        width: 100%;
        height: 18px;
    }
    .pj-word {
        padding-top: 10px;
        padding-bottom: 15px;
    }
    #pj-li {
        padding: 10px 15px;
    }
}
