#tc-choice {
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: white;
    border-top: 1px solid #ddd;
    padding-top: 12px;
    .over-box {
        max-height: 12rem;
        overflow-y: scroll;
        padding-bottom: $footerHeight+5;
    }
    .pro {
        margin-bottom: 12px;
        position: relative;
        min-height: 52px;
    }
    .pic {
        margin-right: 12px;
        position: absolute;
        top: -25px;
        left: 5px;
        width: 70px;
        img {
            display: inline-block;
            width: 70px;
            height: 70px;
            outline: 5px solid #eeeeee;
        }
    }
    .info {
        width: auto;
        margin-left: 90px;
        margin-right: 30px;
        line-height: 17px;
        h3 {
            font-size: 14px;
            color: $fweight;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .close {
        display: inline-block;
        position: absolute;
        right: -3px;
        top: -6px;
        background: url("../img/pingjia_close_03.png") no-repeat;
        background-size: 65%;
        width: 32px;
        height: 32px;
        background-position: center;
    }
    .tit {
        color: $fweight;
        font-size: 14px;
        margin-bottom: 5px;
        .limit-goods {
            font-size: 12px;
            padding-left: 3px;
            color: $theme;
        }
    }
    .special {
        margin-bottom: 15px;
        span {
            display: inline-block;
            padding: 0 10px;
            height: 31px;
            line-height: 31px;
            margin-bottom: 5px;
            border-radius: 2px;
            color: $flight;
            min-width: 59px;
            border: 1px solid $flight;
            margin-right: 10px;
            text-align: center;
        }
        .on {
            color: $theme;
            border: 1px solid $theme;
        }
        .have-on {
            color: $flight;
            border: 1px solid $flight;
        }
        .empty {
            color: #ebebeb;
            border: 1px solid #f5f5f5;
        }
    }
    .sure {
        height: $footerHeight;
        width: 100%;
        position: absolute;
        bottom: 0;
        color: white;
        font-size: 16px;
        text-align: center;
        line-height: $footerHeight;
        margin-left: -10px;
    }
    .sure-on {
        background: $theme;
    }
    .sure-no {
        background: #bebebe;
    }
    .numc {
        height: 30px;
        * {
            float: left;
        }
        em {
            width: 45px;
            height: 30px;
            display: inline-block;
            border: 1px solid #dadada;
            text-align: center;
            font-size: 22px;
            color: #959595;
        }
        .on {
            color: #f84a4a;
        }
        .emless {
            position: relative;
            &:after {
                content: "";
                width: 30px;
                height: 4px;
                @extend .bg-gwc-less;
                position: absolute;
                left: 63%;
                top: 50%;
                margin: -2px 0 0 -15px;
                font-size: 20px;
            }
            border-radius: 2px 0 0 2px;
        }
        .emmore {
            position: relative;
            &:after {
                content: "";
                width: 21px;
                height: 20px;
                @extend .bg-gwc-more;
                position: absolute;
                top: 20px;
                left: 27px;
                margin: -15px 0 0 -15px;
                font-size: 20px;
            }
            border-radius: 0 2px 2px 0;
        }
        .input-span {
            display: inline-block;
            width: 45px;
            padding: 5px;
            line-height: 18px;
            border-width: 1px 0;
            border-style: solid;
            border-color: #dadada;
            float: left;
            text-align: center;
            color: #000;
            outline: 0;
            border-radius: none!important;
        }
    }
}

#buy-btn {
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 100;
    font-size: 16px;
    color: white;
    bottom: 0;
    text-align: center;
    height: $footerHeight;
    line-height: $footerHeight;
    .add {
        background: #f6f4f5;
    }
    .fast-buy {
        background: $pink;
    }
    .add-cart {
        background: $theme;
    }
    .save {
        width: 50%;
        text-align: center;
        em {
            position: relative;
            top: 5px;
            @extend .bg-like;
            display: inline-block;
        }
        .on {
            @extend .bg-like-on;
        }
    }
    .pri-all {
        font-size: 15px;
        color: $theme;
        margin-right: 10px;
    }
    .car-num {
        position: relative;
        top: 5px;
        left: 10%;
        height: 40px;
        width: 50%;
        text-align: center;
        em {
            display: inline-block;
            @extend .bg-d-gwc-r;
            position: relative;
        }
        i {
            position: absolute;
            display: inline-block;
            border-radius: 100px;
            color: #fff;
            text-align: center;
            right: -12px;
            top: -11px;
            background: $theme;
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-family: arial;
            transform: scale(.9);
            overflow: hidden;
            font-size: 13px;
        }
        i.ov:after {
            content: '...';
            display: inline-block;
            position: absolute;
            top: -5px;
            right: 6px;
        }
    }
}

.price-inventory {
    position: relative;
    top: 15px;
    .pri-value {
        color: $theme;
        font-size: 16px;
        font-family: arial;
    }
    .inventory-value {
        display: inline-block;
        color: $fnormal;
        font-size: 12px;
        margin-left: 3px;
        transform: scale(0.9);
    }
}
