/* @import "reset.scss";
@import "bg.scss";
@import "detail-tc.scss";
@import "evaluate-item.scss";
@import "bar-top.scss";
 */
#eva-header{
	background:white;
	border-bottom: 1px solid $bcolr;
	margin-top: 42px;
	ul{
		li{
			padding:10px 0;
			text-align: center;
			color:$fweight;
			font-size: 14px;
			float: left;
			width: 33.3333%;
		}
	}
	.on{
		border-bottom: 1px solid $theme;
		color: $theme;
	}
}