#feedback{
  position:absolute;
  top:42px;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  max-width:640px;
  background:#ffffff;
  padding:20px 0 0 0;
  overflow: auto;
  .feedback-panel{
    width:auto;
    padding:0 10px 50px 10px;
    textarea{
      width:100%;
      height:198px;
      border-radius:5px;
      font-size:14px;
      line-height: 20px;
      background:#f2f2f2 ;
      color:$fnormal;
      padding:10px;
    }
  }
}