.v-left {
    align-items: center;
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    p {
        &:first-child {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 14px;
            color: $fnormal;
        }
        &:last-child {
            font-size: 12px;
            color: $flight;
        }
        &:nth-of-type(2){
            font-size: 12px;
            color: $flight;
        }
    }
}

.v-right {
    max-width: 100px;
    font-size: 17px;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
}

.w-right {
    max-width: 100px;
    font-size: 17px;
    text-align: right;
    justify-content: center;
    flex-direction: column;
    span {
        display: block;
    }
    .title-tap {
        position: relative;
        top: -3px;
        font-size: 12px;
    }
    .during-color {
        color: #f7e55d;
    }
    .w-success-color {
        color: #28e042;
    }
    .w-fail-color {
        color: #000;
    }
    .default-color {
        color: $flight;
    }
}

.justc {
    justify-content: center;
}

.color-theme {
    color: $theme;
}

.color-expend {
    color: #000;
}

.v-detail {
    border-bottom: 1px solid $bcolr;
    padding: 10px;
    div {
        width: 50%;
    }
    .H-price {
        span {
            &:first-of-type {
                font-size: 15px;
                color: $theme;
            }
            &:last-of-type {
                text-align: right;
                color: $flight;
            }
        }
    }
    .H-detail {
        margin-top: 5px;
        font-size: 12px;
        color: $fweight;
        span {
            float: left;
            &:last-of-type {
                margin-left: 5px;
                display: inline-block;
                width: 60%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}

#history-bar {
    position: fixed;
    top: 42px;
    left: 0;
    background: #ffffff;
    a {
        display: inline-block;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 14px;
        color: $fnormal;
        border-bottom: 1px solid $bcolr;
    }
    .a-on {
        color: $theme;
        border-bottom: 1px solid $theme;
    }
}

#vSpend {
    max-width: 640px;
    @extend .bg-white;
}

#Hdistributor {
    background: #ffffff;
}
