#list-banner-pro { background: white; padding-top: 22px; position: relative; }
#list-banner-pro .pic, #list-banner-pro .info { float: left; }
#list-banner-pro .pic { width: 50%; background: white; text-align: center; position: relative; }
#list-banner-pro .pic img { height: 150px; display: inline-block; }
#list-banner-pro .pic em { position: absolute; left: 6%; top: -22px; background: black; color: white; font-size: 12px; display: block; width: 33px; padding: 2px 0; }
#list-banner-pro .info { width: 50%; }
#list-banner-pro .info .mouth { margin-bottom: 16px; color: #999; margin-top: 10px; text-align: left; }
#list-banner-pro .info .mouth span { margin: 0 2%; }
#list-banner-pro .info .mouth em { display: inline-block; width: 30%; border: 1px solid #eee; position: relative; top: -4px; }
#list-banner-pro .info .tit { font-size: 14px; color: #666; margin-top: 17px; padding-right: 10px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: 38px; line-height: 20px; }
#list-banner-pro .info .pri { font-size: 16px; font-family: arial; color: #f84343; margin-top: 20px; font-weight: bold; }
#list-banner-pro .slick-list { overflow: visible !important; }
