#loading2 {
    .loading-pic {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 100px;
        height: 100px;
        background-size: contain;
        // -webkit-animation: loadingact 5s cubic-bezier(0.62, 0.28, 0.38, 0.63) infinite;
        -webkit-transition:background infinite;
        -webkit-transform: translateY(-30px);
        &:after {
            content: attr(data-text);
            position: absolute;
            width: 100px;
            text-align: center;
            color: $fweight;
            font-size: 14px;
            top: 100%;
            left: 50%;
            -webkit-transform: translate(-50%, 10px);
        }
    }
}
