#my-order-comm{
	#pay-money-bianhao{
		margin-bottom: 0;
	}
	.time{
		color:$red!important;
	}
	#pay-money-bianhao{
		background: #fff!important;
		margin-top: 5px;
		border-bottom:1px solid $bcolr;
	}
	#pay-money-sendseller{
		background: white!important;
	}
	#sheller-detail-label{
		padding-bottom:5px;
	}
}