#submit-address {
    margin-top: 17px;
}

#pay-money-pribar .d1 em {
    color: #969696;
}

.red1 {
    background: $pink!important;
    color:white!important;
}

.red2 {
    background: $theme!important;
    color:white!important;
}
