#pay-money-pribar {
    background: $pinktwo;
    font-size: 12px;
    margin-bottom: 5px;
    em {
        color: $theme!important;
        float: right;
        font-size: 14px;
    }
    .d1 {
        color: $fnormal;
        padding: 12px 10px;
    }
    .d2 {
        color: $fnormal;
        text-align: right;
        padding: 10px;
        em {
            color: $red;
            font-size: 15px;
            font-weight: bold;
        }
    }
    .ps-d2 {
        @extend .bg-dingdan_d;
    }
    .ps-d1 {
        @extend .bg-p-icon-car;
    }
    .icon {
        display: inline-block;
        float: left;
        position: relative;
        top: -3px;
        margin-right: 4px;
    }
    .icon-sen {
        @extend .bg-order-ic-send-pro;
    }
    .icon1 {
        @extend .icon;
        @extend .bg-dl-item;
    }
    .icon3 {
        opacity: 0.8;
        @extend .icon;
        @extend .bg-yh-item;
    }
}

#order-detail-allmoney {
    border-top: $bor;
    text-align: right;
    color: #4b4b4b;
    background: $pinktwo;
    padding: 4px 0 10px;
    margin: 0 10px;
    .p {
        font-size: 14px;
        color: $fweight;
    }
    .small-themef {
        font-size: 14px!important;
        position: relative;
        top: 0 !important;
    }
    .themef {
        font-size: 21px;
        position: relative;
        top: 3px;
    }
    .redf {
        font-size: 21px;
        color: #ff4646;
    }
    .reback-much {
        margin-top: 5px;
        color: $fweight;
    }
    .not-include {
        font-size: 12px;
        color: $flight;
        display: block;
    }
}

.item-bar {
    height: 40px;
    line-height: 42px;
    padding: 0 10px;
    color: $theme;
    font-size: 14px;
    background: white;
    margin-bottom: 5px;
    margin-top: -5px;
    i {
        @extend .theme-right;
    }
}
