#shopmanage-data {
    background: white;
    padding: 10px 3px;
    color: $fnormal;
    .flex1 {
        text-align: center;
        font-size: 16px;
        position: relative;
        .word {
            font-size: 13px;
            color: #c1c1c1;
        }
    }
    .item-on {
        &:after {
            content: "";
            position: absolute;
            border-bottom: 10px solid #ff6d6d;
            border-left: 10px solid transparent;
            right: -3px;
            bottom: -10px;
        }
    }
}
